.container{
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center;  
  flex-wrap: nowrap;
}

.desktop {
  width: 800px;
  height: 800px;
  background-image: url("../img/desktop.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: -150px;
  transform-origin: top center;
  transform: scale(1); /* Defina a escala inicial */
}

.cellphone {
  width: 450px;
  height: 450px;
  background-image: url("../img/cellphone.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  transform-origin: top center;
  transform: scale(1); 
}

.img-mobile {
  width: 185px;
  height: 373px;
  position: relative;
  top: 35px;
  left: 133px;
  border-radius: 20px;
  transform-origin: top left;
  transform: scale(1); 
}

.img-desktop {
  width: 510px;
  height: 310px;
  position: absolute;
  top: 225px;
  left: 145px;
  border-radius: 10px;
  transform-origin: top left;
  transform: scale(1); 
}


