.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
.contato {
  position: absolute;
  width: 100vw;
  top: 200px;
}
.contato-title {
  margin-left: 15vw;
}

.social {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.redes-sociais {
  display: flex;
  align-items: start;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-left: 15vw;
}
hr {
  width: 70%;
}
.icon-with-title {
  display: flex;
  align-items: center;
  margin-top: 10px;
 
}

.social-title {
  color: white;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.social-title:hover {
  color: #00aaff;
}
