.menu{
  display: flex;
  justify-content: space-between;

}

.menu span{
 font-weight: bold;
 text-align: start;

}
.menu button{
 background: none;
 border: none;
 text-decoration: none;
}
.menu button a {
  text-decoration: none;
  color: #FFFF;
 font-weight: bold;
 font-size: large;
}
