.menu{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.menu span{
 font-weight: bold;
 text-align: start;

}
.menu button{
 background: none;
 border: none;
 text-decoration: none;
}
.menu button a {
  margin: 10px;
text-decoration: none;
color: #FFFF;
 font-weight: bold;
 font-size: large;
}
